/* 此文件编写全局scss变量 */
//color
$main-color:#03719C;
// $main-color:#03A444;
$main-color-text:#333333;
$main-text-color:#4a4a4a;
$main-text-color-2:#838383;
$placeholder-text-color:#c0c4cc;

$main-white:#ffffff;
// 导航高亮颜色
$nav-active-color:#FF7E79;

//bgc
$main-bgc:#f9f9f9;

//font size
$font-size-base: 16px;
$font-size-m: $font-size-base + 2;
$font-size-l: $font-size-base + 2;

//size
$navbar-height: 60px;

$label-color:rgba(0,0,0,0.54);
