/* 此文件编写全局scss变量 */
//color
$main-color:#009efd;// 主题色
$minor-color:#047cc7; // 辅助色
// $main-color:#03A444;
$main-color-text:#333333;
$main-text-color:#4a4a4a;
$main-text-color-2:#838383;
// 次要文字颜色
$minor-text-color:#9b9b9b;
$placeholder-text-color:#c0c4cc;

$main-white:#ffffff;
// 导航高亮颜色
$nav-active-color:#ff7e79;

//bgc
$main-bgc:#f9f9f9;
// 次要 bgc
$minor-bgc:#f7f7f7;
$main-gradient-color:linear-gradient(90deg, $minor-color 0%, $main-color 100%);

// border
$main-border-color:#e7e7e7;//浅
$minor-border-color:#d8d8d8;//深

// 布局圆角
$border-radius:8px;

.a{
    color: #364f6b;
    color: #3fc1c9;
    color: #f5f5f5;
    color: #fc5185;
}
$main-white:#ffffff;
// 导航高亮颜色
$nav-active-color:#FF7E79;

//bgc
$main-bgc:#f9f9f9;

/* 渐变色 */
// $main-gradient-color

//font size
$font-size-base: 16px;
$font-size-m: $font-size-base + 2;
$font-size-l: $font-size-base + 2;

//size
$navbar-height: 60px;

$label-color:rgba(0,0,0,0.54);

// 阴影
$main-box-shadow:0 2px 12px 0 rgba(0, 0, 0, 0.1);